.main{
  margin: 0;
  color: #40514E;
  /* it will work only if elements inside body don't have width mentiond */
  text-align: center;
  font-family: 'Merriweather', serif;
  font-size: 2em;
}
p{
  font-size: 30px;
}

/* if we use px that is static size it will not affect even if we specified font size in both container
and in the element body */
/* for dynamic size if we are using font size in both body/container and element it will be added
and that will make zygantic element in browser */
h1 {
  /* width: 10%; */
  /* when we have width specified we have to use below line */
  /* top, and bottom 0, left and right auto */
  /* margin:0 auto 0 auto; */
  margin: 50px auto 0 auto;
  font-family: 'Sacramento', serif;
  /* font-size: 90px; this will not change as preferred font size in browse
  so we have to make  it dynamic font */
  /* 100% means 16px  90px means 90/16 = 5.625em  */
  /* 1em = 16px = 100% */
  /* font-size: 562.5%; */
  font-size: 5.625rem; /*using rem (root em ) will only takes size of the relative element*/
  color:  #66BFBF;
  line-height:2;
}

h2 {
  font-family: 'Montserrat', cursive;
  font-size: 2.5rem;
  color:  #66BFBF;
  font-weight: normal;
  padding-bottom: 10px;
}

h3 {
  width: 100%;
  font-family: 'Montserrat', serif;
  color: #66BFBF;
  font-weight:900;
}

.top-container {
  background-color: #EAF6F6;
  position: relative;
  padding: 200px;
  margin-bottom: 40px;
}

.bottom-container {
  background-color: #66BFBF;
  padding: 50px 0 20px;
}
.footer-link{
  font-family: 'Montserrat', cursive;
  margin: 10px 20px;
  color: #11999E;
  text-decoration: none;
}
.footer-link:hover{
  color: white;
}
.copyright{
  color: #EAF6F6;
  font-size: 0.75em;
  padding: 20px 0;
}

.pro {
  text-decoration: underline;
}

.top-cloud {
  position: absolute;
  right: 200px;
  top: 50px;

}

.bottom-cloud {
  position: absolute;
  left: 200px;
  top: 400px;
  border: 300px;
}
.skill-row{
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
  line-height: 2;
  position: relative;
}
.computer{
  border-radius: 100%;
  width: 25%;
  float: left;
  margin-right: 30px;
}
.java{
  /* position: absolute; */

    border-radius: 50%;
  width: 200px;
  height: 200px;
  overflow: hidden;
  margin-left: 30px;
  float: right; /* it defines the image wher to float and text is wrapped around it*/
}
/* .skill1{
  clear: left; /* it will clears its left by not wrapping around img instead it will come below*/
/* }
.skill2{
  clear: right;
}  */
.profile{
  margin: 100px 0;
}
.intro{
  width: 40%;
  margin: auto;
  line-height: 2;

}
.college{
    text-decoration: none;
    color: #11999E;
}
.college:hover{
  color:  #bd31bd;
}
.contact-me{
  width: 50%;
  margin: 100px auto 100px auto;
  line-height: 2;
}
.btn {
  background: #bd31bd;
  background-image: -webkit-linear-gradient(top, #bd31bd, #1d9ff0);
  background-image: -moz-linear-gradient(top, #bd31bd, #1d9ff0);
  background-image: -ms-linear-gradient(top, #bd31bd, #1d9ff0);
  background-image: -o-linear-gradient(top, #bd31bd, #1d9ff0);
  background-image: linear-gradient(to bottom, #bd31bd, #1d9ff0);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: 'Montserrat', cursive;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #1deb1d;
  background-image: -webkit-linear-gradient(top, #1deb1d, #09f22c);
  background-image: -moz-linear-gradient(top, #1deb1d, #09f22c);
  background-image: -ms-linear-gradient(top, #1deb1d, #09f22c);
  background-image: -o-linear-gradient(top, #1deb1d, #09f22c);
  background-image: linear-gradient(to bottom, #1deb1d, #09f22c);
  text-decoration: none;
}
hr{
  /* border-style: none;
  border-top-style: dotted;
  /* this will be background: color behind the dotted; */
  /* background-color: white;
  border-top-color: grey; */
  /* height: 3px; */
  /* border-width: 5px;  */
  border: dotted grey 6px;
  border-bottom: none;
  width: 5%;
  margin: 100px auto;
}
.last{
  border-radius: 50%;
width: 200px;
height: 200px;
overflow: hidden;
margin-left: 30px;
float:right;
}
.contact-info{
  background-color:#EAF6F6;
  position: absolute;
}
.sbtn{
  width: 100px;
}
